.add-doctor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  height: 90vh;
}

.add-doctor-container h1 {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 500;
  position: absolute;
  text-align: center;
  top: 10px;
}

.form-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container form input,
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 14px;
  border: 3px solid #ccc;
}

.form-container form button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 14px;
  background-color: #5fc50c;
  cursor: pointer;
  border: 3px solid #ccc;
  color: white;
}

.form-container form button:hover {
  background-color: #479607;
}

.icon {
  padding: 0;
  height: 250px;
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .icon {
    height: 170px;
    width: 280px;
    padding: 0;
    margin-bottom: 0;
  }

  .form-container {
    width: 100%;
  }
}
