.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  width: 100%;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #209e31;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .login-container {
    max-width: 100%;
  }

  .loading {
    font-size: 20px;
  }
}

.custom-loader {
  color: rgb(93, 167, 223);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: s3 2s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.log-load {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  margin: auto;
}

.loading {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
