.reservation-page {
  width: 85%;
  padding: 1rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 0 !important;
}

.reserve-title {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  text-align: center;
  margin-bottom: 1rem;
  overflow-x: hidden;
}

.reservation-imag {
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

.reservation-info {
  flex-direction: column;
  width: 250px;
  height: 450px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.photo {
  width: 100%;
  margin-bottom: 1rem;
  height: 200px;
  border: none;
  border-radius: 15px;
  object-fit: cover;
}

.reserve-details {
  width: 100%;
}

@media (max-width: 600px) {
  .reservation-page {
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .photo {
    width: 60%;
  }

  .reservation-imag {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .reservation-page {
    width: 100%;
  }

  .reservation-imag {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
