.reservation-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
  padding: 10px 20px 40px;
}

.reserve-title {
  text-align: center;
  background: linear-gradient(271deg, #5f8edf 0%, #5deb70 100%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 10px 40px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.card-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  max-width: 300px; /* Adjust the maximum width as needed */
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.reservation-imag {
  text-align: center;
  padding: 10px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  border: 4px dotted#d7d7d7d1;
}

.text-center {
  font-size: 2rem;
  margin: 10px auto;
  font-weight: 700;
  color: rgb(181 176 176);
  text-align: center;
}

.reserve-details {
  padding: 15px;
}

.reserve-details p {
  margin: 0;
  color: #1e3c49;
  font-family: monospace, cursive, circular;
  font-size: 18px;
  word-wrap: normal;
}

@media (max-width: 768px) {
  .reservation-page {
    padding-top: 9.5px;
  }

  .reserve-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}
