body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #ecf0f1;
}

.sidebar_container {
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(184, 253, 119) 100%);
  height: 100vh;
  justify-content: space-between;
  width: 200px;
  border-right: 1px solid #0000002f;
}

.sidebar_container-uperhead {
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
  padding: 1rem;
  margin-bottom: 5rem;
}

.sidebar_container-logo {
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2rem;
}

.sidebar_container-logo img {
  width: 150px;
}

.sidebar_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-link {
  font-size: 16px;
  border-bottom: 1px solid #fff;
  transition: all 0.25s ease;
  animation: fadeInRight 0.25s ease forwards;
  margin-left: 10px;
}

.sidebar-link:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
  background: #96bf01;
  cursor: pointer;
  color: black;
  border-radius: 0.2rem;
}

.sidbar_footer {
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

small {
  font-size: 0.7em;
  margin-left: 10px;
  margin-bottom: 40px;
}

.active {
  opacity: 0.8;
  transition: all 0.25s ease;
  background: rgb(151, 191, 15);
  cursor: pointer;
  border-radius: 0.2rem;
  color: white;
}

.sidebar_socials {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px;
}

.nav_btn {
  display: none;
}

@media (max-width: 768px) {
  .nav_btn {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: large;
    padding: 1rem;
    position: absolute;
  }

  .sidebar_container_items {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    transform: translateX(-100vh);
    z-index: 9999;
  }

  .responsive {
    transform: none;
  }
}
